<html>
 
  <body>
    <%-include('_header')%>
        <h1 class="mb-4">Blog World</h1>
        <a href="/new" class="btn btn-success">New Article</a>
        
            </div>
           
</body>
</html>
