<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POST</title>
</head>
<body>
    <h1>Mind exploration</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam quidem ullam maxime totam nulla sit! Odit expedita hic placeat reiciendis! Possimus, facere est provident id repudiandae voluptas alias eaque officiis!</p>
    <h2>HEARTBEATS</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo perspiciatis molestias nobis blanditiis aut, mollitia temporibus harum numquam placeat perferendis atque? Harum rem ducimus numquam consequuntur aspernatur ad praesentium vero mollitia doloribus, dolor, ab suscipit nobis nihil quia deserunt! Optio accusamus officia dicta repellendus numquam ea maxime autem magnam assumenda.</p>

</body>
</html>